@charset "utf-8";
/* 全局的样式 */
hr {
  padding: 0;
}
/* Node Modal的主要样式
======================================================================*/
#modal_node {
  width: 300px;
  height: 270px;
  overflow: auto;
}
#modal_node hr {
  margin-left: 30px;
  margin-right: 30px;
}
#modal_node .modal_body .node_group {
  margin-left: 30px;
  margin-top: 15px;
}
#modal_node .modal_body .node_group #node_name {
  width: 240px;
  text-align: center;
  border: none;
  font-size: 18px;
  font-family: 'Microsoft Yahei';
  background-color: rgba(255, 255, 255, 0);
}
#modal_node .modal_body .node_group input[type="range"] {
  -moz-appearance: inherit;
  -ms-appearance: inherit;
  -o-appearance: inherit;
  -webkit-appearance: inherit;
  background: rgba(15, 209, 130, 0.4);
  height: 1px;
  padding: initial;
  border: initial;
  margin: 2px;
}
#modal_node .modal_body .node_group #edit_node_note {
  position: absolute;
  width: 240px;
  height: 35px;
  border: none;
  outline: none;
  background-color: rgba(15, 209, 130, 0.4);
  font-size: 14px;
  font-family: "Microsoft Yahei";
  color: #275b50;
  margin-top: 10px;
}
#modal_node .modal_body .node_group #edit_node_note:hover {
  background-color: rgba(15, 209, 130, 0.7);
  cursor: pointer;
}
/* User modal 的主要样式
======================================================================*/
#modal_user .modal_header {
  height: 50px;
  text-align: center;
  font-size: 24px;
  padding: 15px;
  width: auto;
  border-bottom: 1px #dddddd solid;
}
#modal_user .modal_header #user_modal_close {
  width: 30px;
  height: 30px;
  right: 20px;
  top: 20px;
}
#modal_user .modal_body {
  height: 395px;
}
#modal_user .modal_body nav {
  position: absolute;
  height: 364px;
  width: 180px;
  background-color: #e0ebe8;
}
#modal_user .modal_body nav ul {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #009245;
}
#modal_user .modal_body nav ul li {
  padding-top: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 35px;
}
#modal_user .modal_body nav ul li:hover {
  background-color: #ffffff;
  cursor: pointer;
}
#modal_user .modal_body .modal_content {
  position: absolute;
  width: 540px;
  left: 180px;
}
#modal_user .modal_body .modal_content #modal_user_section_1 {
  text-align: center;
}
#modal_user .modal_body .modal_content #modal_user_section_1 #modal_user_icon {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 60px;
  border: #ade0b5 4px solid;
  margin: 0 auto;
  margin-top: 20px;
}
#modal_user .modal_body .modal_content #modal_user_section_1 p {
  margin-top: 15px;
}
#modal_user .modal_body .modal_content #modal_user_section_1 #modal_user_checkmore {
  margin-top: 20px;
  border: none;
}
/* Theme modal 的主要样式
======================================================================*/
#modal_theme {
  width: 400px;
  height: 600px;
}
/* View modal 的主要样式 */
#modal_view {
  width: 400px;
  height: 600px;
}
/* Share modal 的主要样式 */
#modal_share {
  width: 400px;
  height: 600px;
}
/* Export Module 的主要样式 */
#modal_export {
  width: 400px;
  height: 600px;
}
